<!-- template/post_list.html -->
{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
	{% if object_list %}
		{% for personal in object_list %}
<!--

			<div class="card" style="background:#d6f9f8">
				{% load static %}
				<img class="img-fluid mx-auto d-block" src=" {% static "images/user.png" %}" alt="Card image cap">
				<div class="card-body text-center" >
					<h5 class="card-title" >{{ personal.first_name }} {{ personal.last_name }}( {{ personal.author }} )</h5>
					<p class="card-text"> </p>
				</div>
				<ul class="list-group list-group-flush" >
					<li class="list-group-item">First Name: {{ personal.first_name }}</li>
					<li class="list-group-item">Last Name: {{ personal.last_name }}</li>
					<li class="list-group-item">Email: {{ personal.email }}</li>
					<li class="list-group-item">Birthdate: {{ object.birthdate }}</li>
					<li class="list-group-item">Gender: {{ personal.gender }}</li>
					<li class="list-group-item">Hometown: {{ personal.hometown }}</li>
				</ul>
				<div class="card-body">
					<a class="btn btn-warning" href="{% url 'personal_edit' personal.pk %}">Edit Profile</a>

				</div>
			</div>
			<br />
			-->

<div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ personal.first_name }} {{ personal.last_name }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
					{% load static %}
					<img alt="User Pic" src=" {% static "images/user.png" %}" class="img-circle img-responsive"> </div>


                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First Name:</td>
                        <td>{{ personal.first_name }}</td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td>{{ personal.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td>{{ personal.email }}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Date of Birth</td>
                        <td>{{ personal.birthdate }}</td>
                      </tr>
                        <tr>
                        <td>Gender</td>
                        <td>{{ personal.gender }}</td>
                      </tr>
                      <tr>
                        <td>Username</td>
                        <td><a href="#">{{ personal.author }}</a></td>
                      </tr>
                        <td>Hometown</td>
                        <td>{{ personal.hometown }}
                        </td>

                      </tr>

                    </tbody>
                  </table>

                  <a href="{% url 'personal_edit' personal.pk %}" class="btn btn-primary">Edit Profile</a>
                  <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>



		{% endfor %}
	{% else %}
		<p> No details found. Add<a href="{% url 'personal_new' %}"> Personal Details</a></p>
	{% endif %}
{% endblock content %}